<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Processing</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Upload Image and Perform CV</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".jpg, .jpeg, .png">
        <select name="color">
            <option value="r">Red</option>
            <option value="g">Green</option>
            <option value="b">Blue</option>
            <option value="gray">Gray</option>
            <option value="face">Face Detection</option>
        </select>
        <button type="submit">Upload</button>
    </form>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    {% if result_img %}
        <h2>Processed Image</h2>
        <img src="data:image/jpg;base64,{{ result_img }}" alt="Processed Image">
    {% endif %}
</body>
</html>
